.sidebar_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 15vw;
  height: 100vh;
  border-right: 1px solid #edf5fe;
}

.top_side {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo {
  margin-top: 2rem;
}

.list_item > ul > li {
  list-style: none;
  margin: 1rem;
}

.list-item > button {
}
